
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<div class="text-center">
    <div class="jumbotron">
        <h1>Welcome to KhumaloCraft</h1>
        <p>
            About Us : Discover exquisite handcrafted products from artisans around the world. Khumalo Crafts Company is a visionary e-commerce platform developed by James Khumalo to showcase and promote handcrafted items from craftsmen throughout the world. Khumalo Crafts' purpose is to link brilliant craftsmen with a discerning global audience, empowering artists to express their distinctive skills while providing buyers with a selected range of high-quality, handcrafted items.

            Khumalo Crafts, which is committed to accessibility, scalability, and user-friendliness, uses cloud computing technologies to provide a smooth purchasing experience. The platform's database structure has been rigorously developed to properly manage product information and user data, assuring stability and scalability as the platform expands.
            Khumalo Crafts Company is an innovative e-commerce company launched by James Khumalo. It aims to showcase
            In addition to its main functionality, Khumalo Crafts Company takes pleasure in providing innovative services and features that improve the customer experience. These include powerful search capabilities, tailored alerts, serverless services, and automation tools, all with the goal of providing consumers globally with a safe and delightful buying experience.

            Through smart deployment tactics and ongoing innovation, Khumalo Crafts Company is prepared to become a worldwide e-commerce leader, bridging the gap between artists and customers while promoting the value of handcrafted items in today's digital economy.


        </p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Home Page", "Home")" role="button">View our Work &raquo;</a></p>
    </div>
</div>